<app-navbar></app-navbar>
<div>
    <h2>Contact Form</h2>
    <form #myForm="ngForm" (ngSubmit)="submitForm(myForm)">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" ngModel required>
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" ngModel required>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  
    <div *ngIf="loading">
      <p>Loading...</p>
    </div>
  
    <div *ngIf="data && data.length > 0 && !loading">
        <h2>Retrieved Data</h2>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <!-- Add more columns as needed -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data">
              <td>{{ item?.name }}</td>
              <td>{{ item?.email }}</td>
              <!-- Add more columns as needed -->
            </tr>
          </tbody>
        </table>
      </div>
      
  </div>
  