
<div class="container">
  <h2>Contact Form</h2>
  <form class="example-form" #myForm="ngForm" (ngSubmit)="submitForm(myForm)" *ngIf="isEdit===false">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="" id="name" name="name" ngModel required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="" id="email" name="email" ngModel required>
    </mat-form-field>

    <div class="example-full-width">
      <button mat-raised-button color="primary" (click)="openSnackBar('Data submitted successfuly!')">Submit</button>
    </div>
  </form>

  <div *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  
  <table mat-table [dataSource]="data" class="mat-elevation-z8" *ngIf="isEdit===false">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <!-- <mat-icon class="action-icon" (click)="editItem(element)">edit</mat-icon> -->
        <mat-icon class="action-icon" (click)="openEditDialog(element)">edit</mat-icon>
        <mat-icon class="action-icon" (click)="deleteItem(element)" (click)="openSnackBar('Data deleted successfully')">delete</mat-icon>
      </td>
    </ng-container>




    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div *ngIf="isEdit===true">
    <app-edit-dialogue [element]="editData" [isEdit]="isEdit"></app-edit-dialogue>
  </div>
</div>
